<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=products[0].category%></title>
  <link href="/CSS/List.css" rel="stylesheet" >
</head>
<body>

<header>
  <div class="logot" onclick="window.location.href = '/HomePage.html';">
    <img src="/Images/book.png" >
    <h2 class="brandn">BOOKWORM</h2>
  </div>

  <div class="menuDiv circle">
    <ul id="topMenu">
      <li class="lt"><a href="/HomePage">Home</a></li>
      <li><a href="/Categories">Categories</a></li>
      <li><a href="/topSellers">Top Sellers</a></li>
      <li><a href="/AboutUs">About us</a></li>
      <li class="rt"><a href="/ContactUs">Contact us</a></li>
    </ul>
  </div>
  <div class="profile">
    <form>
      <input class="search" type="text" name="Search" id="" placeholder="Search">
      <button class="simg" type="submit"><img src="/Images/search.png" alt=""></button>
    </form>
    <div class="dropdown">
      <a href="/HTML/profile.html"><img class="prof_photo" src="/Images/profile.png" alt="profile"></a>
      <div class="dropdown-content">
        <% if (userId) { %>
          <a class="t" href="SignIn.html">Profile</a>
          <a class="b" href="SignUp.html">Sign Out</a>
        <% } else { %>
          <a class="t" href="SignIn.html">Sign In</a>
        <a class="b" href="SignUp.html">Sign Up</a>
        <% } %>
      </div>
    </div>
    <div class="cart">
      <a href="cart.html"><img class="cart_photo" src="/Images/cart.png"></a>
    </div>
  </div>

</header>




<main>
  <div class="view_wrap list-view" style="display: block;">
<%if (products.length < 20){ var x = products.length;} else{ var x = 20;} for(var i=0; i < x; i++){ %>
    <div class="view_item">
      <form action="/Product" method="post">
      <div class="vi_left">
        <input class="img" type="submit" style="background-image:url(<%=products[i].image%>);" value="" >
      </div>
      <input type="hidden" name="id" value=<%=products[i]._id%>>
      </form>
      <div class="vi_right">
        <p class="title"><%=products[i].name%></p>
        <p class="author">-<%=products[i].author%></p>
        <form action="/cart" method='post' class="btns">
          <input type="submit" class="btn1" value="Add To Cart">
          <%= console.log(products[i]._id) %>
          <%var PID =products[i]._id %>
          <input type="hidden" name="id" value="<%= PID %>">
          </form>
          </div>
        </div>
    <%}%>
  </div>


    <footer>
      <div class="about">
        <h4>ABOUT BOOKWORM</h4>
        <p>BOOKWORM began as an idea to help support bookstores and their communities at a time when more and more people were
          buying their books online. We saw an opportunity to create an alternative to Amazon for socially-conscious online
          shoppers.</p>
        <h3 class="cont">Telephone: +20 111 937 7388</h3>
        <h3 class="cont">Email: support@Book.com</h3>
      </div>
      <div class="book">
        <h4>BOOKWORM</h4>
        <ul>
          <li><a href="HomePage.html">Home</a></li>
          <li><a href="Categories.html">Categories</a></li>
          <li><a href="AboutUs.html">About Us</a></li>
          <li><a href="ContactUs.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="help">
        <h4>HELP AND SUPPORT</h4>
        <ul>
          <li><a href="customer service.html">Customer Service</a></li>
          <li><a href="shipping.html">Shipping</a></li>
          <li><a href="returns.html">Returns</a></li>
          <li><a href="terms of service.html">Terms Of Service</a></li>
        </ul>
      </div>
    </footer>
</main>
</body>
</html>
